<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Vintage</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>Vintage</string>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.930268237097-pju8n925pspo44bvmnokmk8knqq3k7jf</string>
			</array>
		</dict>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>We need access to your camera so you can snap photos for your quests.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photos so you can select existing images for your quests.</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<true/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>com.googleusercontent.apps.930268237097-pju8n925pspo44bvmnokmk8knqq3k7jf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>fetch</string>
	</array>
</dict>
</plist>
